html,body {
  height: 100%;
}

.buffer {
  margin-top: 20px;
}

.big-buffer {
  margin-top: 60px;
}

.body {
  margin-top: 40px;
  min-height: 100%;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.sidebar {
  top: 80px;
  position: fixed;
  width: 180px;
}

.banner {
  margin-top: -30px;
  padding: 50px;
}

h3 { position:relative; }
h3 span { position:absolute; top:-140px; }