<h2>Getting Started</h2>

<p>
  Angular-Kendo is a passthrough to the Kendo UI [declarative initialization](http://docs.kendoui.com/howto/declarative_initialization) framework.  It essentially runs any element with the matched <code>data-kendo</code> attribute though the Kendo UI bindings.
</p>

<p>This allows you to get the full benefit of Kendo UI, using only markup and angular style directives.</p>

<h3><span id="installation"></span>Installation</h3>

<p>To use Angular-Kendo, you need to include the <angular-kendo.js</code> file in your page <strong>BELOW</strong> Angular and Kendo UI.</p>

<p>Don't forget that Kendo UI depends on jQuery, so you are going to need that too.</p>

<pre>
&lt;script src=&quot;js/jquery-1.8.2.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/angular-1.0.4.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/kendo.all.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/angular-kendo.js&quot;&gt;&lt;/script&gt;
</pre>

<h4>Include The Directive</h4>
<p>You need to pass the <code>kendo.directives</code> module into your application module as a dependency.</p>

<pre>
var app = angular.module(&#039;your-angular-app&#039;, [&quot;kendo.directives&quot;]);  
</pre>

<h3><span id="simple"></span>Simple widget creation</h3>
<p>
  Any widget can be created using [declarative intialization] as long as it contains the <code>data-kendo</code> attribute.  The attribute doesn't have to have a value, it just has to be present.  When this attribute is placed on an element, Angular will hand it off to Kendo UI to bind or initialize it as needed based on it's <code>data-</code> attributes.
</p>
<h4>Calendar</h4>
<pre>
&lt;div data-kendo data-role=&quot;calendar&quot;&gt;&lt;/div&gt;
</pre>
<div data-kendo data-role="calendar"></div>     
<p class="buffer">
  Angular-Kendo does not support using custom HTML elements.  This is because Kendo UI expects certain elements to be used in the creation of certain widgets (e.g. an input when creating an AutoComplete), so the HTML element that is mutated has merit in the initialization process.
</p>
<h3><span id="dom"></span>Creation From Existing Elements</h3>
<p>Angular-Kendo supports initialization from existing DOM structure the same way that Kendo UI does.  The only difference is that you <b>must</b> include the <code>ng-transclude</code> tag on the element in order for the children of that element to be seen by Kendo UI.  This is due to the fact that by default, Angular does not copy the children of an element in a directive.</p>
<h4>Dropdown List</h4>
<pre>
&lt;ul data-kendo data-role=&quot;dropdownlist&quot; ng-transclude&gt;
  &lt;li&gt;Foo&lt;/li&gt;
  &lt;li&gt;Bar&lt;/li&gt;
  &lt;li&gt;Baz&lt;/li&gt;
&lt;/ul&gt;  
</pre>
    
<select data-kendo data-role="dropdownlist" ng-transclude>
  <option>
    Foo
  </option>
  <option>
    Bar
  </option>
  <option>
    Baz
  </option>
</select>

<h2>Remote Data Sources</h2>

<p>Angular-Kendo provides flexiblity in the use of either a Kendo UI DataSource, or Angular resources.  Keep in mind that some of the widgets, such as the grid, are designed to work with the Kendo UI DataSource and will not have the same seemless integeration with a generic Angular resource out-of-the box.</p>

<h3><span id="datasource"></span>Kendo UI DataSource</h3>

<p>Since Kendo UI has to be able to see the JavaScript object that it is binding to, you need to specify which object on the scope this widget is bound to by setting the <code>data-model</code> attribute.</p>

<p>Using a Kendo UI DataSource is just as easy as creating one off of the <code>$scope</code> object in the controller.</p>

<h4>Controller</h4>
<pre>
function HomeCtrl($scope) {
  $scope.model = kendo.observable({
    things: new kendo.data.DataSource({
      transport: {
        read: &quot;directive-sample/data/products.json&quot;
      },
      pageSize: 5
    })
  });
}
</pre>

<h4>HTML</h4>
<pre>
&lt;div id=&quot;grid&quot; data-kendo data-role=&quot;grid&quot; data-editable=&quot;true&quot; 
  data-pageable=&quot;{ refresh: true, pageSizes: true }&quot;
  data-model=&quot;model&quot; data-bind=&quot;source: products&quot; 
  data-columns=&quot;[{ field: &#039;ProductName&#039;, title: &#039;Name&#039;}, 
                 { field: &#039;Supplier.SupplierName&#039;,  title: &#039;Supplier&#039;}, 
                 { field: &#039;Category.CategoryName&#039;, title: &#039;Category&#039; }]&quot;&gt;
&lt;/div&gt;  
</pre>
<div id="grid" data-kendo data-role="grid" data-editable="true" 
  data-pageable="{ refresh: true, pageSizes: true }"
  data-model="model" data-bind="source: products" 
  data-columns="[{ field: 'ProductName', title: 'Name'}, 
                 { field: 'Supplier.SupplierName',  title: 'Supplier'}, 
                 { field: 'Category.CategoryName', title: 'Category' }]">
</div>