<div class="page-header">
  <h1>Getting Started</h1>
</div>

<p>Kendo UI is a comprehensive HTML5/JavaScript framework for moden web and mobile app development.  It consists of 17 widgets for web, a core framework, a mobile suite, and a complete Data Vizualization solution.</p>

<p>The Angular Kendo project aims to provide deep integration between Kendo UI Web/DataViz and AngularJS.</p>

<h2><span id="installation"></span>Installation</h2>

<p>To use Angular-Kendo, you need to include the <code>angular-kendo.js</code> file in your page <strong>BELOW</strong> Angular and Kendo UI.  Don't forget that Kendo UI depends on jQuery, so you are going to need that too:</p>

<div class="demo-section">
  <pre class="prettyprint">
&lt;script src=&quot;js/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/angular-1.0.5.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/kendo.all.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/angular-kendo.js&quot;&gt;&lt;/script&gt;
  </pre>
</div>

<p>Pass the <code>kendo.directives</code> module into your app as a dependency:</p>

<div class="demo-section">
  <pre class="prettyprint">
var app = angular.module(&#039;your-angular-app&#039;, [&#039;kendo.directives&#039;]);
  </pre>
</div>

<p>And you're done! Now you can use the Angular directives for Kendo UI to create and use widgets.</p>


<h2><span id="simple"></span>Basic Use</h2>

<p>Any widget can be created using a directive (attribute or class). There is one directive per Kendo UI widget and they are named using a dash-separated version of the Kendo UI widget name. For example, the <code>DropDownList</code> Kendo UI widget becomes a <code>kendo-drop-down-list</code> attribute that you can apply on an input element.  The attribute doesn't have to have a value, it just has to be present.</p>

<h3>Dead Simple Widget Creation</h3>

<div class="pure-g demo-section">

  <div class="pure-u-2-3">
    <h4>Code</h4>
    <pre class="prettyprint ng-non-bindable">
&lt;select kendo-drop-down-list&gt;
  &lt;option value=&quot;1&quot;&gt;Thing 1&lt;/option&gt;
  &lt;option value=&quot;2&quot;&gt;Thing 2&lt;/option&gt;
  &lt;option value=&quot;3&quot;&gt;Thing 3&lt;/option&gt;
&lt;/select&gt;
    </pre>
  </div>

  <div class="pure-u-1-3">
    <h4>Demo</h4>
    <select kendo-drop-down-list>
      <option value="1">Thing 1</option>
      <option value="2">Thing 2</option>
      <option value="3">Thing 3</option>
    </select>
  </div>

</div>

<h3>Configuring Widget Options (k- Attributes)</h3>

<p>You can specify any widget configuration attributes with <code>k-</code>attributes.  Your data source should exist in the controller as that is the only place the directive will look for the <code>k-source</code> attribute.  Notice that all strings values <strong>must be quoted with single-quotes</strong> as per AngularJS standards.

<div class="pure-g demo-section">

  <div class="pure-u-2-3">
    <h4>Code</h4>
    <pre class="prettyprint ng-non-bindable">
// controller
function HomeCtrl($scope) {
  $scope.things = {
    data: [{ name: &quot;Thing 1&quot;, id: 1 },
           { name: &quot;Thing 2&quot;, id: 2 },
           { name: &quot;Thing 3&quot;, id: 3 }]
  };
}

// markup
&lt;select kendo-drop-down-list
        k-option-label=&quot;&#039;Select A Thing&#039;&quot;
        k-data-text-field=&quot;&#039;name&#039;&quot;
        k-data-value-field=&quot;&#039;id&#039;&quot;
        k-data-source=&quot;things&quot;&gt;&lt;/select&gt;
    </pre>
  </div>

  <div class="pure-u-1-3">
    <h4>Demo</h4>
    <select kendo-drop-down-list
            k-option-label="'Select A Thing'"
            k-data-text-field="'name'"
            k-data-value-field="'id'"
            k-data-source="things"></select>
  </div>
</div>

<h3>Configuring Widget Options From The Controller</h3>

<p>You may not want to have your configuration in the widget itself.  In that case, you can pass the object that contains your widgets configuration into the <code>k-options</code> attribute.</p>

<div class="pure-g demo-section">
  <div class="pure-u-2-3">
    <h4>Code</h4>
    <pre class="prettyprint ng-non-bindable">
// controller
function HomeCtrl($scope) {
  $scope.thingsOptions = {
    dataSource: {
      data: [{ name: &quot;Thing 1&quot;, id: 1 },
             { name: &quot;Thing 2&quot;, id: 2 },
             { name: &quot;Thing 3&quot;, id: 3 }]
    },
    dataTextField: &quot;name&quot;,
    dataValueField: &quot;id&quot;,
    optionLabel: &quot;Select A Thing&quot;
  };
}

// markup
&lt;select kendo-drop-down-list k-options=&quot;thingsOptions&quot;&gt;&lt;/select&gt;
    </pre>
  </div>
  <div class="pure-u-1-3">
    <h4>Demo</h4>
      <select kendo-drop-down-list k-options="thingsOptions"></select>
  </div>
</div>

<h3>Binding To Events</h3>

<p>Events can be specified either in markup, or in the options object passed to <code>k-options</code>.  Any events passed to <code>k-options</code> are specified accoding to the <a href="http://docs.kendoui.com/api">Kendo UI API Docs</a>.</p>

<p>Events specifed in Markup need a <code>k-on</code> prefix and must pass a <code>kendEvent</code> argument.</p>

<div class="pure-g demo-section">
  <div class="pure-u-2-3">
    <h4>Code</h4>
    <pre class="prettyprint ng-non-bindable">
// controller
function HomeCtrl($scope) {
  $scope.thingsOptions = {
    dataSource: {
      data: [{ name: &quot;Thing 1&quot;, id: 1 },
             { name: &quot;Thing 2&quot;, id: 2 },
             { name: &quot;Thing 3&quot;, id: 3 }]
    },
    dataTextField: &quot;name&quot;,
    dataValueField: &quot;id&quot;,
    optionLabel: &quot;Select A Thing&quot;
  };

  $scope.thingsChange = function(e) {
    console.log(e.sender.text());
  };
}

// markup
&lt;select kendo-drop-down-list k-options=&quot;thingsOptions&quot; k-on-change=&quot;thingsChange(kendoEvent)&quot;&gt;&lt;/select&gt;
    </pre>
  </div>
  <div class="pure-u-1-3">
    <h4>Demo</h4>
      <select kendo-drop-down-list k-options="thingsOptions" k-on-change="thingsChange(kendoEvent)"></select>
  </div>
</div>

<h3>Integration With AngularJS Models</h3>

<p>Kendo UI Widgets raise their changed events so that AngularJS is notified to update the model.  Simply specify which model property to update by adding the <code>ng-model</code> attribute.</p>

<div class="pure-g demo-section">
  <div class="pure-u-2-3">
    <h4>Code</h4>
    <pre class="prettyprint ng-non-bindable">
&lt;select kendo-drop-down-list=&quot;thingsOptions&quot;
        ng-model=&quot;selectedThing&quot;&gt;&lt;/select&gt;
&lt;h5&gt;You Selected: {{ selectedThing }}&lt;/h5&gt;
    </pre>
  </div>
  <div class="pure-u-1-3">
    <h4>Demo</h4>
    <select kendo-drop-down-list k-options="thingsOptions"
            ng-model="selectedThing"></select>
    <h5>You Selected: {{ selectedThing }}</h5>
  </div>
</div>

<h3>Assigning Widget References</h3>

<p>Sometimes, you need to get a reference to your widget in the controller.  Pass in the desired controller property into the directive.  You can then call methods on the widget from the controller.</p>

<div class="pure-g demo-section">
  <div class="pure-u-2-3">
    <h4>Code</h4>
    <pre class="prettyprint ng-non-bindable">
// controller
$scope.window = {
  open: function() {
    $scope.modal.center().open();
  }
};

// markup
&lt;button class=&quot;k-button&quot; ng-click=&quot;window.open()&quot;&gt;Open Modal&lt;/button&gt;
&lt;div kendo-window=&quot;modal&quot; k-title=&quot;&#039;Sample Window&#039;&quot; k-visible=&quot;false&quot; k-modal=&quot;true&quot;&gt;
    </pre>
  </div>
  <div class="pure-u-1-3">
    <h4>Demo</h4>
    <button class="k-button" ng-click="window.open()">Open Modal</button>
    <div kendo-window="modal" k-title="'Sample Window'" k-visible="false" k-modal="true" k-animation="{'open': { 'effects': 'slideIn:down fadeIn' }, 'close': { 'effects': 'slideIn:up fadeIn', 'reverse': true }}">
      <h1>Hello!  I'm a modal window.</h1>
      <p>Pretty nifty eh?</p>
    </div>
  </div>
</div>

<h2>DropDown Lists are great, but what about REAL widgets?</h2>

<p>Kendo UI includes Grids, TreeViews, MultiSelects, ColorPickers - 17 widgets in all and that's not including the complete DataViz suite which includes bar, pie, line, donut, guage charts and much more.</p>

<p>Just for fun, here are a few of those widgets in action:</p>


<h2>Grid</h2>

<p>This grid is pageable, sortable, groupable and filterable.  Select A row to see the Angular binding.</p>

<div class="demo-section">
  <div kendo-grid k-data-source="products" k-selectable="'row'"
       k-pageable='{ "refresh": true, "pageSizes": true }'
       k-columns='[{ "field": "ProductName", "title": "Name"},
                      { "field": "Supplier.SupplierName", "title": "Supplier"},
                      { "field": "Category.CategoryName", "title": "Category" }]'
       k-sortable="true" k-groupable="true" k-filterable="true"
       k-on-change="selectedItem = data" >
 </div>
  <div>
    <h3>{{selectedItem.ProductName}} <small>(Product ID: {{selectedItem.ProductID}})</small></h3>
    <p><strong>Quantity in stock: </strong>{{selectedItem.UnitsInStock}}</p>
    <p><strong>Price per unit: </strong>{{selectedItem.UnitPrice | currency}}</p>
    <p><strong>Value of stock: </strong>{{selectedItem.UnitsInStock * selectedItem.UnitPrice | currency}}</p>
  </div>
</div>

<h3>DataViz</h3>

<p>Kendo UI Comes with a powerful data vizualizatin suite.  In this demo, move the slider to see the binding to the radial guages.</p>

<div class="pure-g demo-section">
  <div class="pure-u-1-3">
    <div kendo-chart k-options="column"></div>
  </div>
  <div class="pure-u-1-3">
    <div class="gauge">
      <div kendo-radial-gauge ng-model="value"></div>
      <input class="gauge-slider" kendo-slider k-min="0" k-max="100" k-large-step="20" k-tick-placement="'none'" ng-model="value" class="span4 offset1"/>
    </div>
  </div>
  <div class="pure-u-1-3">
    <div kendo-chart k-options="pie"/>
  </div>
</div>

<h1>Complete Kendo UI Demos</h1>

<p>For A complete list of all widgets and demos, visit the <a href="http://demos.kendoui.com">Kendo UI Demos site</a>.</p>

<p>Have suggestions for this project?  Something that you don't see that you need?  Please <a href="https://github.com/kendo-labs/angular-kendo/issues">enter an issue</a>, or better yet - <a href="https://github.com/kendo-labs/angular-kendo">fork us</a> and submit a pull request!</p>

<footer>
  <p class="small">This site was built with <a href="http://angularjs.org">AngularJS</a> and <a href="http://www.kendoui.com">Kendo UI</a></p>
</footer>

