<div class="container">
  <div class="row">
    <div class="span12">
     <div class="page-header">
       <h1>Getting Started</h1>
     </div>

     <h2><span id="installation"></span>Installation</h2>

     <p>To use Angular-Kendo, you need to include the <code>angular-kendo.js</code> file in your page <strong>BELOW</strong> Angular and Kendo UI.</p>


     <p>Don't forget that Kendo UI depends on jQuery, so you are going to need that too.</p>

     <pre>
  &lt;script src=&quot;js/jquery.min.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;js/angular-1.0.5.min.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;js/kendo.all.min.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;js/angular-kendo.js&quot;&gt;&lt;/script&gt;
     </pre>

     <br />
     <h3>Include The Directive</h3>
     <p>You need to pass the <code>kendo</code> module into your application module as a dependency.</p>

     <pre>
  var app = angular.module(&#039;your-angular-app&#039;, [&#039;kendo&#039;]);  
     </pre>

     <br />
     <h2><span id="simple"></span>Simple widget creation</h2>
     <p>
       Any widget can be created using a directive (attribute or class). There is one directive per Kendo UI widget and they are named using a dash-separated version of the Kendo UI widget name. For example, the <code>DateTimePicker</code> Kendo UI widget becomes a <code>kendo-date-time-picker</code> attribute that you can apply on an input element.  The attribute doesn't have to have a value, it just has to be present.  When this attribute is placed on an element, the directive will bind the appropriate Kendo UI widget to the element with options that can be provided as <code>data-</code> attributes or passed as an object in the widget's attribute.
     </p>
     <br />
     <h4>Calendar</h4>
     <pre class="ng-non-bindable">
  &lt;div kendo-calendar ng-model=&quot;dateOfEvent&quot;&gt;&lt;/div&gt;
  &lt;span&gt; {{dateOfEvent | date}} &lt;/span&gt;
     </pre>
     <div kendo-calendar ng-model="dateOfEvent"></div><span> {{dateOfEvent | date}}</span>
     <br>
     <div class="buffer alert alert-info">
       <p>
         <span class="label label-info">Note: </span>
         Angular-Kendo does not support using custom HTML elements.  This is because Kendo UI expects certain elements to be used in the creation of certain widgets (e.g. an input when creating an AutoComplete), so the HTML element that is mutated has merit in the initialization process.
       </p>  
     </div>

     <br />
     <h2><span id="dom"></span>Creation From Existing Elements</h2>
     <p>Angular-Kendo supports initialization from existing DOM structure the same way that Kendo UI does.</p>
     <h4>Dropdown List</h4>
     <pre class="ng-non-bindable">
&lt;ul kendo-drop-down-list ng-model=&quot;choice&quot; &gt;
 &lt;li&gt;Foo&lt;/li&gt;
 &lt;li&gt;Bar&lt;/li&gt;
 &lt;li&gt;Baz&lt;/li&gt;
&lt;/ul&gt;
&lt;span ng-show=&quot;choice&quot;&gt;{{choice}} was chosen!&lt;/span&gt;</pre>
         
     <select kendo-drop-down-list ng-model="choice">
       <option>
         Foo
       </option>
       <option>
         Bar
       </option>
       <option>
         Baz
       </option>
     </select> <span ng-show="choice">{{choice}} was chosen!</span>

     <br />
     <h2><span id="dom"></span>Refreshing A Widget</h2>
     <p>Angular-Kendo supports re-initialization of widgets when changes are made to the configuration. When a <code>kendo-refresh</code> attribute is used, a watch is put on the expression it contains and if the value of the expression changes, the widget will be re-initialized.</p>
     <h4>Chart</h4>
     <pre class="ng-non-bindable">
&lt;div kendo-chart data-title="Sales" data-series-defaults='{"type": "{{chartSettings.type}}"}' 
     data-series="{{chartData}}"
     kendo-refresh="chartSettings.type"&gt;&lt;/div&gt;</pre>

    <label class="radio inline">
      <input type="radio" name="chartType" value="column" ng-model="chartSettings.type"> Columns
    </label>
    <label class="radio inline">
      <input type="radio" name="chartType" value="bar" ng-model="chartSettings.type"> Bars
    </label>
    <label class="radio inline">
      <input type="radio" name="chartType" value="line" ng-model="chartSettings.type"> Lines 
    </label>
    <div kendo-chart data-title="Sales" data-series-defaults='{"type": "{{chartSettings.type}}"}' 
         data-series="{{chartData}}"
         data-category-axis='{
            "categories": ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
            "majorGridLines": {
                "visible": false
            }
         }'
         kendo-refresh="chartSettings.type"></div>

     <br />
     <div class="page-header big-buffer">
       <h1>Remote Data Sources</h1>   
     </div>

     <p>Angular-Kendo provides flexiblity in the use of either a Kendo UI DataSource, or Angular resources.  Keep in mind that some of the widgets, such as the grid, are designed to work with the Kendo UI DataSource and will not have the same seemless integeration with a generic Angular resource out-of-the box.</p>

     <h3><span id="datasource"></span>Kendo UI DataSource</h3>

     <p>In order to provide a Kendo DataSource to a widget, a <code>kendo-source</code> attribute directive is provided. You can pass it a DataSource object or an array and it will make sure a <code>kendo.data.DataSource</code> is created that the widget can use. This directive would eventually be able to receive a $resource and wrap it inside a Kendo DataSource</p>

     <p>Using a Kendo UI DataSource is just as easy as creating one off of the <code>$scope</code> object in the controller.</p>

     <h4>Controller</h4>
     <pre>
  function HomeCtrl($scope) {
   $scope.things = new kendo.data.DataSource({
     transport: {
       read: &quot;app/data/products.json&quot;
     },
     pageSize: 5
   });

   // to demonstrate event hanlding
   $scope.rowSelected = function(e) {
     var grid = e.sender;
     var selectedRows = grid.select();
     for (var i = 0; i &lt; selectedRows.length; i++) {
       $scope.selectedItem = grid.dataItem(selectedRows[i]);
       break;
     }
   }
  }
     </pre>

     <h4>HTML</h4>
     <pre class="ng-non-bindable">
  &lt;div kendo-grid kendo-source=&quot;things&quot; data-selectable=&quot;row&quot; 
   data-pageable=&#039;{ &quot;refresh&quot;: true, &quot;pageSizes&quot;: true }&#039;
   data-columns=&#039;[{ &quot;field&quot;: &quot;ProductName&quot;, &quot;title&quot;: &quot;Name&quot;}, 
                  { &quot;field&quot;: &quot;Supplier.SupplierName&quot;,  title: &quot;Supplier&quot;}, 
                  { &quot;field&quot;: &quot;Category.CategoryName&quot;, title: &quot;Category&quot; }]&#039;
   on-change=&quot;rowSelected(kendoEvent)&quot; &gt;&lt;/div&gt;  
     </pre>
     <div kendo-grid kendo-source="things" data-selectable="row" 
       data-pageable='{ "refresh": true, "pageSizes": true }'
       data-columns='[{ "field": "ProductName", "title": "Name"}, 
                      { "field": "Supplier.SupplierName", "title": "Supplier"}, 
                      { "field": "Category.CategoryName", "title": "Category" }]'
       on-change="rowSelected(kendoEvent)" >
     </div>
     <div ng-show="selectedItem">
       <h3>{{selectedItem.ProductName}} <small>(Product ID: {{selectedItem.ProductID}})</small></h3>
       <p><strong>Quantity in stock: </strong>{{selectedItem.UnitsInStock}}</p>
       <p><strong>Price per unit: </strong>{{selectedItem.UnitPrice | currency}}</p>
       <p><strong>Value of stock: </strong>{{selectedItem.UnitsInStock * selectedItem.UnitPrice | currency}}</p>
     </div>
     <br>
     <div class="alert alert-info">
       <p>
        <span class="label label-info">Note: </span>
       The <code>data-</code> attributes currently expect objects and arrays to be sent as valid JSON.
     </p>
     </div>

     <h3><span id="shared-datasource"></span>Shared DataSource</h3>

     <p>The <code>kendo-source</code> attribute directive can also be used to wrap multiple kendo widgets and each widget will inherit the DataSource.</p>

    <h4>Controller</h4>
     <pre>
  function HomeCtrl($scope) {
   $scope.things = new kendo.data.DataSource({
     transport: {
       read: &quot;app/data/products.json&quot;
     },
     pageSize: 5
   });
     </pre>

     <h4>HTML</h4>
     <pre class="ng-non-bindable">
&lt;div kendo-source="things"&gt;
  &lt;div kendo-pager&gt;&lt;/div&gt;
  &lt;div kendo-grid data-pageable="true"
       data-columns='[{ "field": "ProductName", "title": "Name"}, 
          { "field": "Supplier.SupplierName",  "title": "Supplier"}, 
          { "field": "Category.CategoryName", "title": "Category" }]'&gt;
  &lt;/div&gt;
&lt;/div&gt;       
     </pre>
    <div kendo-source="things">
      <div kendo-pager></div>
      <div kendo-grid data-pageable="true"
           data-columns='[{ "field": "ProductName", "title": "Name"}, 
              { "field": "Supplier.SupplierName",  "title": "Supplier"}, 
              { "field": "Category.CategoryName", "title": "Category" }]'>
      </div>
    </div> 

     <div class="page-header big-buffer">
       <h1>Refreshing A Widget</h1>   
     </div>
     

    <section>
      <h1>DataViz</h1>
      
      <div class="row">
        <div class="span6">
          <h4>Radial Gauge</h4>
          <pre class="ng-non-bindable">
&lt;div kendo-radial-gauge ng-model=&quot;value&quot;&gt;&lt;/div&gt;
&lt;div kendo-slider data-min=&quot;0&quot; data-max=&quot;100&quot; ng-model=&quot;value&quot;&gt;&lt;/div&gt;
          </pre>
          <div>
            <div kendo-radial-gauge ng-model="value"></div>
            <div class="row">
              <input kendo-slider data-min="0" data-max="100" data-large-step="20" ng-model="value" class="span4 offset1"/>
            </div>
          </div>
        </div>
        <div class="span6">
          <h4>Pie Chart</h4>
          <pre class="ng-non-bindable">
&lt;div kendo-chart data-series=&quot;{{series}}&quot;&gt;&lt;/div&gt;
          </pre>
          <div>
            <div kendo-chart data-series="{{series}}"/>
          </div>
        </div>
      </div>
      
      
    </section>
  </div>
</div>
