body {
  background: #eee;
  color: #000;
  padding: 0;
  margin: 0;
  font: 14px arial, helvetica, sans-serif;
}
a,
a:link,
a:visited {
  color: #22c;
  text-decoration: none;
}
a:hover,
a:link:hover,
a:visited:hover {
  color: #c82;
}
header {
  z-index: 10000;
  box-sizing: border-box;
  background-color: #777;
  color: #fff;
  line-height: 1em;
  text-align: center;
  width: 100%;
  height: 52px;
  box-shadow: 0 2px 10px #000;
}
header .title {
  font: 32px Georgia, "Times New Roman", serif;
  line-height: 52px;
}
header.fixed {
  position: fixed;
}
header.spacer {
  visibility: hidden;
}
.logolink {
  width: 133px;
  height: 95px;
  background: url("angular-kendo.png") no-repeat 50% 50%;
  background-size: 100% auto;
  z-index: 10001;
  position: absolute;
  left: 30px;
  top: 10px;
  opacity: 0.6;
  transition-duration: 0.2s;
}
.logolink:hover {
  opacity: 1;
}
.logolink.fixed {
  position: fixed;
  left: 60px;
  width: 60px;
  height: 50px;
  top: 0;
}
.demolist {
  position: absolute;
  padding-top: 60px;
  font-size: 90%;
  box-sizing: border-box;
  width: 200px;
  background: #777;
  box-shadow: 2px 0 5px #999;
  color: #eee;
}
.demolist ul {
  background-color: #555;
  list-style-type: none;
  margin: 0;
  padding: 0.5em 0 0.7em 0;
}
.demolist ul li {
  margin: 0;
  padding: 0;
}
.demolist ul li a {
  color: #aef;
  transition-duration: 0.2s;
  display: block;
  padding: 4px 2em;
}
.demolist ul li a:hover {
  background-color: #fff;
}
.demolist ul li.current {
  background-color: #eee;
  margin-right: -7px;
}
.demolist ul li.current a {
  background-color: #eee;
  color: #000;
}
.demolist h1 {
  margin: 0;
  padding-left: 0.5em;
  padding-top: 0.5em;
  font-size: 120%;
  border-bottom: 1px solid #aaa;
  background: #555555;
  /* Old browsers */

  background: -moz-linear-gradient(top, #555555 0%, #777777 33%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(33%, #777777));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #555555 0%, #777777 33%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #555555 0%, #777777 33%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #555555 0%, #777777 33%);
  /* IE10+ */

  background: linear-gradient(to bottom, #555555 0%, #777777 33%);
  /* W3C */

}
.demolist h1:first-child {
  background: #777;
}
.mainview {
  margin-left: 200px;
  padding: 1em;
}
.mainview h1.title {
  margin-top: 0.5em;
}
.mainview .weblinks {
  font-size: 90%;
  background-color: #ddd;
  float: right;
  border: 1px solid #777;
  margin: 0 0 1em 1em;
}
.mainview .weblinks a {
  display: block;
}
.mainview .weblinks a:before {
  content: "» ";
}
.mainview .weblinks .title {
  background-color: #777;
  color: #fff;
  padding: 4px 0;
  text-align: center;
  font-weight: bold;
}
.mainview .weblinks .body {
  padding: 0.6em;
}
.mainview .demo {
  margin: 1em;
}
.mainview .try-kendo {
  float: right;
}
fieldset {
  margin-bottom: 1em;
}
.important {
  font-weight: bold;
  padding: 1em;
  border: 1px solid #444;
  background-color: #fed;
}
.try-kendo {
  color: #fff;
  padding: 5px 10px 5px 30px;
  background: #015991 url("./edit-icon.png") no-repeat 10px 50%;
  border: 1px solid #555;
  border-radius: 5px;
}
.try-kendo:hover {
  background-color: #013a5e;
  border-color: #000;
}
.try-kendo:active {
  background-color: #000;
}
pre.code {
  padding: 1em !important;
  margin: 1em !important;
  font-family: "ubuntu mono", "monaco", "consolas", "andale mono", monospace !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 20em;
  overflow: auto;
}
pre.code code {
  font-family: inherit !important;
}
code {
  font-family: "ubuntu mono", "monaco", "consolas", "andale mono", monospace !important;
  font-size: 90%;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 2px #aaa;
  position: relative;
  top: -1px;
}
table.sample {
  width: 100%;
}
table.sample td {
  width: 50%;
  vertical-align: top;
}
table.sample td pre.code {
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  background: transparent;
}
table.sample.col3 td {
  width: 33% !important;
}
p,
blockquote,
li {
  line-height: 1.4em;
}
ul.spaced li {
  margin: 1em 0;
}
footer {
  font-size: 90%;
  color: #777;
  margin-top: 1em;
  padding: 1em;
  padding-bottom: 30em;
  border-top: 1px solid #aaa;
  text-align: center;
}
footer a,
footer a:link,
footer a:visited {
  text-decoration: underline;
  color: #777;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
