<div id="account">
  <ul kendo-mobile-list-view k-style="'inset'" k-type="'group'">
    <li>
      Account
      <ul>
        <li>Username<span class="list-item-data">kendoSushi</span></li>
        <li>Email<span class="list-item-data">sushi@kendoui.com</span></li>
      </ul>
    </li>
    <li>
      Notifications
      <ul>
        <li>New products<input type="checkbox" kendo-mobile-switch /></li>
        <li>Exclusive promos<input type="checkbox" kendo-mobile-switch checked="checked" /></li>
      </ul>
    </li>
  </ul>
</div>
